.cmp-button {}
.cmp-button__text {}
.cmp-button__icon {}
//.cmp-button__icon--myIcon {}

#featured_button {
  text-decoration: none;
  padding: 1%;
  color: #f3f3f3;
  font-weight: 600;
  font-size: 9pt;
  font-family: Source Sans Pro,sans-serif;
  background-color: #383838;
  position: absolute;
}