.cmp-text {}
.cmp-text__paragraph {}


#kronos_title_support_text{
  display: inline-block;
  font-size: 1rem;
  font-style: italic;
  margin-left: 3rem;
  width: max-content;
  margin-top: 1.5rem;
}


//When screen is on mobile
@media only screen and (max-width: 490px){
  #kronos_title_support_text{
    display: contents;
  }

}

#featured_text{
  padding-right: 50px;
  overflow: hidden;
  font-size: 1.0625rem;
  line-height: normal;
}


#client_comment{
  overflow-wrap: break-word;
  height: 230px;
  margin-bottom: 5%;
  font-size: 1rem;
  line-height: 1.3;
  padding: 0 0.5rem;
}

#client_name{
  padding: 15px;
  font-size: 1rem;
}


#footer_text_wall_title, #footer_twitter_title, #footer_google_map_title, #contact_us_title{
  margin-bottom: 1.5em;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0 0 2.5em;
  font-family: 'Playfair Display',serif;
}

#footer_contact_us_time{
  margin-top: 10%;
  margin-right: 22%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}