.cmp-text {}
.cmp-text__paragraph {}


#main_image_text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  color: #fff;
  font-weight: 400;
  font-size: 6.5vw;
  line-height: 7.5vw;
  text-align: center;
  top: 21vw;
  width: 100%;
}


#text_wall{
  padding-left: 50px;
  font-size: 1.375rem;
  margin-top: 5.5em;
  margin-bottom: 5.5em;
}

#featured_text{
  margin-top: -41%;
  margin-left: 4%;
  padding-right: 50px;
  overflow: hidden;
  font-size: 1.0625rem;
  font-family: Source Sans Pro,sans-serif;
}


#testimonial_inner_top_text{
  overflow-wrap: break-word;
  height: 200px;
  margin-bottom: -16%;
  font-size: 1rem;
  line-height: 1.3;
}

#testimonial_inner_bottom_text{
  float: left;
  height: 10%;
  padding: 15px;
  font-size: 1rem;
}