.cmp-container {}

#kronos_header_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 825pt;
}



//all the "welcome to corporate" text on the picture and their resizings for different screen sizes
#welcome_to_corporate_text_container{
  position: inherit;
  margin-top: -12rem;
  left: auto;
  color: white;
  font-size: 3.5vw;
  line-height: 2.5vw;
  text-align: center;
}

@media only screen and (max-width: 1600px){
  #welcome_to_corporate_text_container{
    line-height: 4.5vw;
  }
}
@media only screen and (max-width: 1400px){
  #welcome_to_corporate_text_container{
    line-height: 7.5vw;
  }
}

@media only screen and (max-width: 1200px){
  #welcome_to_corporate_text_container{
    line-height: 11.5vw;
  }
}

@media only screen and (max-width: 1000px){
  #welcome_to_corporate_text_container{
    line-height: 14.5vw;
  }
}

@media only screen and (max-width: 800px){
  #welcome_to_corporate_text_container{
    line-height: 24.5vw;
  }
}

@media only screen and (max-width: 490px){
  #welcome_to_corporate_text_container{
    line-height: 73.5vw;
  }
}
// end of resizing for "welcome to corporate"


#text_wall_container {
  font-size: 1.375rem;
}


#featured_header_title_text_button_container{
  margin-left: 4%;
  margin-top: -24rem;
}

#updates_container{
  width: 95%;
  margin-left: 5%;
  margin-top: 2.5%;
}

@media only screen and (max-width: 490px) {
  #updates_container {
    width: 100%;
    margin-left: 0;
  }
}

#testimonials_inner_container{
  width: 95%;
  margin-left: 5%;
  margin-top: 2.5%;
}

@media only screen and (max-width: 490px) {
  #testimonials_inner_container {
    width: 100%;
    margin-left: 0;
  }
}

#testimonials{
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  border: 1px solid #a9a9a9;
}


#testimonial_parent_section{
  margin-bottom: 3rem;
}

#footer_parent_section{
  color: white;
  padding: 30px 0;
  background-color: #222;
}

#footer_inner_container{
  width: 100%;
  display: block;
  margin-left: 15%;
}

#footer_text_wall_container, #footer_twitter_container, #footer_google_map_container, #footer_contact_us_container{
  width: 80%;
  float: left;
  padding: 0 30px;
  margin: 10% 0px;
}

@media only screen and (max-width: 490px) {
  #footer_text_wall_container, #footer_twitter_container, #footer_google_map_container, #footer_contact_us_container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #footer_inner_container{
    margin-left: 0;
  }
}