.cmp-container {}





#kronos_header_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 825pt;
}

#updates_internal_image_container{
  margin-top: 3em;
  margin-right: 30px;
  margin-bottom: 1em;
  padding-left: 0;
  float: left;
  border-bottom: 1px solid #e6e6fa;
}

#testimonial_inner_image_container{
  width: 230px;
  height: 400px;
  margin-right: 10px;
  border: 1px solid #a9a9a9;
}