.cmp-title {}
.cmp-title__text {
  font-weight: 400;
}
.cmp-title__link {}



#kronos_title{
  display: inline;
  line-height: 0.267;
  font-size: 1.5rem;
  font-style: italic;
  cursor: pointer;
}


//When screen is on mobile
@media only screen and (max-width: 490px){
  #kronos_title{
    display: block;
    margin: 0 auto;
    margin-left: 3rem;
  }

}

#updates_title, #kronos_testimonial_title{
  margin-bottom: .5em;
  font-size: 40px;
  font-style: italic;
}


#featured_header_title_text_button_container h1{
  font-size: 1.6375rem;
  font-style: normal;
}

#updates_teaser .cmp-teaser__title-link{
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
  font-weight: 400;
}