.cmp-navigation {
  list-style: none;
}
.cmp-navigation__group {}
.cmp-navigation__item {}
.cmp-navigation__item--active {}
// .cmp-navigation__item--level-0 {}
.cmp-navigation__item-link {}


#kronos_site_navigation {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 16rem;
  width: 100%;
  padding: 1em 0 1.5em;
  font-family: Source Sans Pro,sans-serif;
  transition: all .1s linear;
}

#kronos_site_navigation li {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  border-left: solid;
  transition: border-color .5s;
}

#kronos_site_navigation li a {
  margin-left: 0.5rem;
}



//When screen is on mobile
@media only screen and (max-width: 490px){
  #kronos_site_navigation {
    display: none;
  }

}